.left-lock
  .contents
    .l
      - @reviews.each do |review|
        = render review
.rank
  .good
    投稿イイねランキング
  - @rankings.each.with_index do |review, i|
    第
    = i + 1
    位
    .rank_title
      = review.title
    .rank_name
      = review.user.nickname
      %br/
.search
  .search-area  ユーザー検索
  %input#inc_search_user{:type => "text"}/
  #user_list
.search
  .search-area  投稿検索
  %input#inc_search_review{:type => "text"}/
  #view_list
  -# #user_list

  

  
  -# = render 'likes/like', review: review
